body 
{
    /*Initialisation*/
    margin: 0;
    padding: 0;
    overflow: hidden;
    /*Apparence*/
    background-color: #000000;
    color: #FFFFFF;
}
*, ::before, ::after
{
    /*Ajustement des dimensions*/
    box-sizing: border-box;
}

.loaderContainer
{
    /*proportions*/
    width: 100%;
    height: 100%;
    /*positionnement*/
    z-index: 9999;
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background-color: rgba(0, 0, 17);
    /*Animations*/
}
.loader
{
    /*proportions*/
    width: 9vh;
    height: 9vh;
    /*positionnement*/
    z-index: 9999;
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%,-50%);
    /*Apparence*/
    /* background-color: rgba(0, 0, 17); */
    /*Animations*/
    animation: rotation 2s linear infinite;
}
@keyframes rotation
{
    0% { transform: translate(-50%,-50%) rotate(0deg); }
    100% { transform: translate(-50%,-50%) rotate(360deg); }
}
.fonduOut
{
    /*faire fondre*/
    opacity: 0;
    transition: opacity 400ms ease-in-out;
}
.hidden
{
    /*Masquer un élément html*/
    display: none;
}


.fond
{
    /*proportions*/
    width: 100%;
    height: 100%;
    /*positionnement*/
    z-index: 0;
    position: fixed;
    left: 50vw;
    top: 50vh;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background-color: rgba(0, 0, 17);
    /*Animations*/
}


.cuve
{
    /*proportions*/
    width: 450px;
    height: 450px;
    /*positionnement*/
    z-index: 1;
    position: fixed;
    left: 240px;
    top: 520px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    /* background-color: rgba(0, 0, 17,0.5); */
    border-radius: 50%;
    /*Animations*/
}
.cuveshadow
{
    /*proportions*/
    width: 400px;
    height: 400px;
    /*positionnement*/
    z-index: 0;
    position: fixed;
    left: 260px;
    top: 535px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background-color: rgba(0, 0, 0,0.5);
    border-radius: 50%;
    /*Animations*/
}
.couleurRouge
{
    /*proportions*/
    width: 306px;
    height: 306px;
    /*positionnement*/
    z-index: 1;
    position: fixed;
    left: 234px;
    top: 513px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    /*Animations*/
}

.cuve2
{
    /*proportions*/
    width: 450px;
    height: 450px;
    /*positionnement*/
    z-index: 1;
    position: fixed;
    left: 970px;
    top: 520px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    /* background-color: rgba(0, 0, 17,0.5); */
    border-radius: 50%;
    /*Animations*/
}
.cuveshadow2
{
    /*proportions*/
    width: 400px;
    height: 400px;
    /*positionnement*/
    z-index: 0;
    position: fixed;
    left: 990px;
    top: 535px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background-color: rgba(0, 0, 0,0.5);
    border-radius: 50%;
    /*Animations*/
}
.couleurJaune
{
    /*proportions*/
    width: 306px;
    height: 306px;
    /*positionnement*/
    z-index: 1;
    position: fixed;
    left: 964px;
    top: 513px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background-color: rgb(255, 255, 0);
    border-radius: 50%;
    /*Animations*/
}

.cuve3
{
    /*proportions*/
    width: 450px;
    height: 450px;
    /*positionnement*/
    z-index: 1;
    position: fixed;
    left: 1690px;
    top: 520px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    /* background-color: rgba(0, 0, 17,0.5); */
    border-radius: 50%;
    /*Animations*/
}
.cuveshadow3
{
    /*proportions*/
    width: 400px;
    height: 400px;
    /*positionnement*/
    z-index: 0;
    position: fixed;
    left: 1710px;
    top: 535px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background-color: rgba(0, 0, 0,0.5);
    border-radius: 50%;
    /*Animations*/
}
.couleurBleu
{
    /*proportions*/
    width: 306px;
    height: 306px;
    /*positionnement*/
    z-index: 1;
    position: fixed;
    left: 1684px;
    top: 513px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background-color: rgb(0, 0, 255);
    border-radius: 50%;
    /*Animations*/
}


.cuve4
{
    /*proportions*/
    width: 450px;
    height: 450px;
    /*positionnement*/
    z-index: 1;
    position: fixed;
    left: 590px;
    top: 220px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    /* background-color: rgba(0, 0, 17,0.5); */
    border-radius: 50%;
    /*Animations*/
}
.cuveshadow4
{
    /*proportions*/
    width: 400px;
    height: 400px;
    /*positionnement*/
    z-index: 0;
    position: fixed;
    left: 610px;
    top: 235px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background-color: rgba(0, 0, 0,0.5);
    border-radius: 50%;
    /*Animations*/
}
.couleurInitial
{
    /*proportions*/
    width: 306px;
    height: 306px;
    /*positionnement*/
    z-index: 1;
    position: fixed;
    left: 584px;
    top: 213px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    /*Animations*/
}

.cuve5
{
    /*proportions*/
    width: 450px;
    height: 450px;
    /*positionnement*/
    z-index: 1;
    position: fixed;
    left: 1290px;
    top: 220px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    /* background-color: rgba(0, 0, 17,0.5); */
    border-radius: 50%;
    /*Animations*/
}
.cuveshadow5
{
    /*proportions*/
    width: 400px;
    height: 400px;
    /*positionnement*/
    z-index: 0;
    position: fixed;
    left: 1310px;
    top: 235px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background-color: rgba(0, 0, 0,0.5);
    border-radius: 50%;
    /*Animations*/
}
.couleurFinal
{
    /*proportions*/
    width: 306px;
    height: 306px;
    /*positionnement*/
    z-index: 1;
    position: fixed;
    left: 1284px;
    top: 213px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background-color: rgb(255, 0, 0);
    border-radius: 50%;
    /*Animations*/
}

.cuve6
{
    /*proportions*/
    width: 450px;
    height: 450px;
    /*positionnement*/
    z-index: 1;
    position: fixed;
    left: 590px;
    top: 840px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    /* background-color: rgba(0, 0, 17,0.5); */
    border-radius: 50%;
    /*Animations*/
}
.cuveshadow6
{
    /*proportions*/
    width: 400px;
    height: 400px;
    /*positionnement*/
    z-index: 0;
    position: fixed;
    left: 610px;
    top: 855px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background-color: rgba(0, 0, 0,0.5);
    border-radius: 50%;
    /*Animations*/
}
.couleurBlanche
{
    /*proportions*/
    width: 306px;
    height: 306px;
    /*positionnement*/
    z-index: 1;
    position: fixed;
    left: 584px;
    top: 833px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background-color: rgb(255, 255, 255);
    border-radius: 50%;
    /*Animations*/
}

.cuve7
{
    /*proportions*/
    width: 450px;
    height: 450px;
    /*positionnement*/
    z-index: 1;
    position: fixed;
    left: 1290px;
    top: 840px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    /* background-color: rgba(0, 0, 17,0.5); */
    border-radius: 50%;
    /*Animations*/
}
.cuveshadow7
{
    /*proportions*/
    width: 400px;
    height: 400px;
    /*positionnement*/
    z-index: 0;
    position: fixed;
    left: 1310px;
    top: 855px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background-color: rgba(0, 0, 0,0.5);
    border-radius: 50%;
    /*Animations*/
}
.couleurNoire
{
    /*proportions*/
    width: 306px;
    height: 306px;
    /*positionnement*/
    z-index: 1;
    position: fixed;
    left: 1284px;
    top: 833px;
    transform: translate(-50%,-50%);
    /*Apparence*/
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    /*Animations*/
}